{% extends 'layout.html' %}

{% block content %}
<div class="w-75 mt-3">
    <div class="bg-dark text-white px-3">
        <h1 class="text-uppercase">Expence product history</h1>
    </div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Name</th>
                <th scope="col">Expence</th>
                <th scope="col">Date Income</th>
            </tr>
        </thead>
        <tbody>
            {% for product in current_product_ex %}
            <tr>
                <th scope="row">{{product.product.id}}</th>
                <th scope="col">{{ product.product }}</th>
                <td>{{product.amount}}</td>
                <td>{{product.added}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}